.item {
  @apply mx-0 md:mx-[12px] mb-[48px] flex flex-wrap content-start;

  flex: 1 0 100%;
  max-width: 100%;

  @media screen and (min-width: 768px) {
    flex: 1 0 45%;
    max-width: calc(50% - 24px);
  }

  @media screen and (min-width: 1024px) {
    flex: 1 0 30%;
    max-width: calc(33.333% - 24px);
  }

  @media screen and (min-width: 1280px) {
    flex: 1 0 21%;
    max-width: calc(25% - 24px);
  }

  .imageWrapper {
    .favorite {
      &:not(.isFavorite) {
        @apply hover:fill-[var(--white-color)];
      }
    }

    img {
      object-fit: cover;
    }
  }

  .infoList {
    @apply flex mb-[4px];

    li {
      @apply text-[12px] relative;

      &:not(:last-of-type) {
        @apply max-[767px]:pr-[16px] pr-[30px] lg:pr-[18px] xl:pr-[10px];

        &::before {
          content: "";
          display: block;
          position: absolute;
          width: 1px;
          height: 100%;
          right: 15px;
          background: rgba(18, 20, 23, 0.1);
        }

        @media screen and (max-width: 767px) {
          &::before {
            right: 8px;
          }
        }

        @media screen and (min-width: 1024px) {
          &::before {
            right: 9px;
          }
        }

        @media screen and (min-width: 1280px) {
          &::before {
            right: 5px;
          }
        }
      }

      color: rgba(18, 20, 23, 0.5);
    }
  }

  .btnWrapper {
    @apply mt-[28px];

    .btn {
      /* @apply transition-all ease-linear delay-200 w-[100%] flex justify-center items-center bg-[var(--aqua-color)] hover:bg-[var(--aqua-color-hover)] text-[14px] text-[#fff] font-semibold p-[12px] rounded-[12px]; */
      @apply w-[100%];
    }
  }
}
